passdb {
    driver = passwd-file
    args = scheme=CRYPT username_format=%u /etc/dovecot/users
}
userdb {
    driver = passwd-file
    args = username_format=%u /etc/dovecot/users
}

disable_plaintext_auth = no

mail_location = mbox:~/mail:INBOX=/var/mail/%u

ssl = yes
ssl_cert = <{{ email.dovecot.ssl_cert }}
ssl_key = <{{ email.dovecot.ssl_key }}

service auth {
    unix_listener /var/spool/postfix/private/auth {
        mode = 0660
        user = postfix
        group = postfix
    }
}

auth_mechanisms = plain login

