[Unit]
Description=Twitter robot zoo
Requires=network.target
After=network.target

[Service]
Type=simple
User=twitter
Group=twitter
WorkingDirectory=/srv/twitter
ExecStart=/srv/twitter/bin/python -m robot_zoo --no-time
SyslogIdentifier=twitter
Environment=ROBOT_ZOO_CONFIG=/etc/twitter
Environment=ROBOT_ZOO_LIB=/var/lib/twitter

[Install]
WantedBy=multi-user.target

