[Unit]
Description=Firewall settings
Before=fail2ban.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/firewall start
ExecStop=/usr/local/sbin/firewall stop

[Install]
WantedBy=firewall.target
RequiredBy=fail2ban.service
