[Unit]
Description=uWSGI server for %i
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --socket=/run/uwsgi/%i.socket --yaml=/etc/uwsgi/apps-enabled/%i.yml
KillSignal=SIGINT
Type=notify
StandardOutput=syslog
StandardError=syslog
NotifyAccess=all
User=http
Group=http
